<div class="page home">
  <div class="buttons_action col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4">
    <h1>MyKot</h1>
    <div class="button_index">
        <a href="#/login">Login</a>
    </div>
    <div class="of">
        <p class="of">of</p>
    </div>
    <div class="button_index">
        <a href="#/registreren" data-path>Registreren</a>
    </div>
  </div>  
</div>

