    <div class="registreren page">
        <div class="form_registreren">
            <form class="form_registreren">
                <h1>MyKot</h1>
                <div class="form_login_email">
                    <input class="login_email" type="email" placeholder="Email"> <br>
                </div>
                <div class="form_login_wachtwoord">
                    <input class="login_wachtwoord" type="password" placeholder="Wachtwoord"> <br>
                </div>
                <div class="button_index">
                    <input type="submit" class="button_index" value="login">
                </div>
                <div class="link_wachtwoordvergeten">
                    <a href="/#/login/wachtwoord" class="link_text" data-path>Wachtwoord vergeten?</a> <br>
                </div>
                <div class="link_registreren_aleenaccount">
                    <p class="text">Nog geen account?</p><a href="/registreren" class="link_text">Registreer hier!</a>
                </div>
            </form>
        </div>
        
    </div>