{{> header }}
<div class="body4">
    <div class="nieuwkot">
        <div class="form_nieuwkot_prijs">
            <form class="form_nieuwkot_prijs">
                <div class="form_nieuwkot_prijs">
                    <input class="form_nieuwkot_prijs_input" type="text" placeholder="Prijs"> <br>
                </div>
            </form>
        </div>
        <div class="button_nieuwkot">
            <button type="button" class="button_save">Uploaden</button>
        </div>
        <div class="titel_nieuwkot_gegevens">
            <h2 class="titel_nieuwkot_gegevens">Gegevens:</h2>
        </div>
        <div class="form_nieuwkot">
            <form class="form_nieuwkot"> <br>
                <div class="form_nieuwkot_type">
                    <input class="form_nieuwkot_type_input" type="text" placeholder="Type"> <br>
                </div>
                <div class="form_nieuwkot_oppervlakte">
                    <input class="form_nieuwkot_oppervlakte_input" type="text" placeholder="Oppervlakte"> <br>
                </div>
                <div class="form_nieuwkot_verdieping">
                    <input class="form_nieuwkot_verdieping_input" type="number" placeholder="Verdieping"> <br>
                </div>
                <div class="form_nieuwkot_aantalpersonen">
                    <input class="form_niewwkot_aantalpersonen_input" type="number" placeholder="Aantal personen"> <br>
                </div>
                <div class="form_nieuwkot_toilet">
                    <select id="toilet" class="toilet" required>
                        <option disabled selected>Toilet</option>
                        <option value="Privé">Toilet - privé</option>
                        <option value="Gedeeld">Toilet - gedeeld</option>
                        <option value="Niet aanwezig">Toilet - niet aanwezig</option>
                    </select><br>
                </div>
                <div class="form_nieuwkot_douche">
                    <select id="douche" class="douche" required>
                        <option disabled selected>Douche</option>
                        <option value="Privé">Douche - privé</option>
                        <option value="Gedeeld">Douche - gedeeld</option>
                        <option value="Niet aanwezig">Douche - niet aanwezig</option>
                        </select> <br>
                </div>
                <div class="form_nieuwkot_bad">
                    <select id="bad" class="bad" required>
                        <option disabled selected>Bad</option>
                        <option value="Privé">Bad - privé</option>
                        <option value="Gedeeld">Bad - gedeeld</option>
                        <option value="Niet aanwezig">Bad - niet aanwezig</option>
                        </select> <br>
                </div>
                <div class="form_nieuwkot_keuken">
                    <select id="keuken" class="keuken" required>
                        <option disabled selected>Keuken</option>
                        <option value="Privé">Keuken - privé</option>
                        <option value="Gedeeld">Keuken - gedeeld</option>
                        <option value="Niet aanwezig">Keuken - niet aanwezig</option>
                        </select> <br>
                </div>
                <div class="form_nieuwkot_bemeubeld">
                    <select id="meubles" class="meubels" required>
                        <option disabled selected>Bemeubeld</option>
                        <option value="Bemeubeld">Bemeubeld</option>
                        <option value="Niet-bemeubeld">Niet-bemeubeld</option>
                        </select><br>
                </div>
                <div class="form_nieuwkot_waarborg">
                    <input class="form_nieuwkot_waarborg_input" type="text" placeholder="Waarborg"> <br>
                </div>
                <div class="form_nieuwkot_adres">
                    <input class="form_nieuwkot_adres_input" type="text" placeholder="Adres"> <br>
                </div>
                <div class="form_nieuwkot_beschrijving">
                    <input class="form_nieuwkot_beschrijving_input" type="text" placeholder="Beschrijving"> <br>
                </div>
            </form>
        </div>
        <div class="button_nieuwkot">
            <button type="button" class="button_save">Opslaan</button>
        </div>
    </div>
</div>
{{> footer }}