    <div class="registreren page">
        
        <div class="form_registreren">
            <h1>MyKot</h1>
            <div class="titel_wachtwoordvergeten">
                <h2 class="titel_wachtwoordvergeten">Wachtwoord vergeten?</h1> <br>
            </div>
            <form class="form_wachtwoordvergeten">
                <div class="form_wachtwoordvergeten_email">
                    <input class="wachtwoordvergeten_email" type="email" placeholder="Email"> <br>
                </div>
                <div class="button_index">
                    <input class="buttond_index" type="submit" class="verstuur" value="Verstuur">
                </div>
            </form>
        </div>
        
    </div>