.body4 {
    padding: 0 20px;
    padding-top: 100px;
}

.button_nieuwkot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_save {
    background: #7FB3B0;
    padding: 10px 20px;
    border: none;
    color: #E3EAEC;
    font-family: $title-font;
}